<nav class="blue darken-1">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Just Do It</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      {{#if isTodos}}
      <li class="active"><a href="/todos">ToDos</a></li>
      {{else}}
      <li><a href="/todos">ToDos</a></li>
      {{/if}}

      {{#if isCreate}}
      <li class="active"><a href="/todos/create">Create</a></li>
      {{else}}
      <li><a href="/todos/create">Create</a></li>
      {{/if}}

    </ul>
  </div>
</nav>
