<form action="/todos/create" method="POST">
  <h2>Create ToDo</h2>

  <div class="input-field">
    <input type="text" name="title">
    <label>Name</label>
  </div>

  <button type="submit" class="btn">Create</button>
</form>
