<form action="/create" method="POST">
  <h2>Создать задание</h2>

  <div class="input-field">
    <input type="text" name="title">
    <label>Название задачи</label>
  </div>

  <button type="submit" class="btn">Создать</button>
</form>
