body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.todo {
    margin-bottom: 0.5rem;
}

.todo span.completed {
    text-decoration: line-through;
}

.todo label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: #f4f6fa;
    padding: 0.5rem;
}

.todo i {
    z-index: 2;
}

.nav-wrapper {
    margin: 0 0 2rem 2rem;
}

.todo-delete {
    background-color: #ff00008a;
}

.icon-delete:hover {
    color: #ff00008a;
}

.icon-delete:active {
    color: red
}


/* a {
    color: #00B7FF;
} */